#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Request CFLAGS and LDFLAGS be exported so they can be picked up by
# the makefiles
DPKG_EXPORT_BUILDFLAGS = 1
#
# Resolve symbols at load time to catch undefined symbols earlier and
# to avoid unpredictable performance at runtime
export DEB_BUILD_MAINT_OPTIONS=hardening=+bindnow

PYLINT := $(shell which pylint3)
ifndef PYLINT
PYLINT := pylint
endif

%:
	dh $@ --builddirectory=build --with=systemd --with=yang --buildsystem=meson+ninja

override_dh_auto_test: scripts/vyatta/configd.py
	dh_auto_test
	$(PYLINT) -E                           \
		scripts/vyatta-bmc           \
		scripts/vyatta-bmc-sel       \
		scripts/vyatta-show-bmc      \
		scripts/vyatta-show-watchdog \
		scripts/vyatta-watchdog

override_dh_systemd_start:
	dh_systemd_start -pvyatta-bmc --no-start bmc-health-check.timer
	dh_systemd_start -pvyatta-watchdog --no-start vyatta-watchdog.service

override_dh_systemd_enable:
	dh_systemd_enable -p vyatta-ipmi --name=ipmievd ipmievd.path
	dh_systemd_enable -p vyatta-ipmi --name=ucpe-xsmall-ipmi-ssif ucpe-xsmall-ipmi-ssif.service
	dh_systemd_enable -p vyatta-bmc --name=bmc-health-check bmc-health-check.service 
	dh_systemd_enable -p vyatta-bmc bmc-health-check.timer
	dh_systemd_enable -p vyatta-watchdog --name=vyatta-watchdog vyatta-watchdog.service
	dh_systemd_enable -p vyatta-bmc-clock --name=vyatta-bmc-clock-ntp vyatta-bmc-clock-ntp.service
	dh_systemd_enable -p vyatta-bmc-clock --name=vyatta-bmc-clock-periodic vyatta-bmc-clock-periodic.timer
	dh_systemd_enable -p vyatta-bmc-clock --name=vyatta-bmc-clock-init vyatta-bmc-clock-init.path

scripts/vyatta/configd.py: /usr/lib/python3/dist-packages/vyatta/configd.py
	# Workaround vyatta python module packaging issue,
	# which lets pylint3 fail. __init__.py is missing,
	# causes import-error for vyatta module.
	mkdir -p scripts/vyatta
	touch scripts/vyatta/__init__.py
	ln -s /usr/lib/python3/dist-packages/vyatta/configd.py scripts/vyatta/configd.py
	# End of workaround
