[Unit]
Description=Vyatta BMC Health check service
ConditionPathExists=|/run/vyatta/platform/ufi.s9500-30xs

[Service]
Type=oneshot
ExecStart=/opt/vyatta/sbin/vyatta-bmc --syslog

