[Unit]
Description=Vyatta BMC Health check service
ConditionPathExists=|/run/vyatta/platform/ufi.s9500-30xs

[Service]
Environment="ARGS=--interval 60 --timeout 15"
Type=simple
ExecStart=/lib/vyatta-healthmon/healthmon $ARGS
