[Unit]
Description=Vyatta BMC clock periodic synchronization
ConditionPathExists=|/run/vyatta/platform/ufi.s9500-30xs
After=vyatta-platform-name.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'ipmitool sel time set "`date +%%m/%%d/%%Y\\ %%H:%%M:%%S`"'
